[package]
name = "crawler"
version = "0.1.0"
edition = "2024"

[profile.release]
lto = true
strip = true
codegen-units = 1

[profile.dev.package."*"]
opt-level = 3

[dependencies]
sdl2 = {version = "0.38.0", features = ["bundled"]}
